.contentLista {
  padding: 30px 20px 0px 20px;
}

.iconAcaoLista {
  font-size: 20px;
  color: #5d7f28;
}

.iconOlhoAcaoLista {
  margin-right: 15px;
}

// Títulos
.firstTitle {
  display: inline !important;
}

.secondTitle {
  color: #5c5c5c !important;
  display: inline !important;
}

.subTitle {
  color: #949494 !important;
  font-weight: 500;
  text-align: left;
  display: inline !important;
}

// =========== Página de vizualização da ocorrência ===========
// Tag de criticidade
.tagCriticity {
  display: flex;
  justify-content: flex-end;
  display: inline !important;
}

// Bloco mais externo da página
.occurrenceContent {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

// Conteúdo da página de ocorrência
.textContent {
  display: block;

  // Texto da descrição da ocorrência
  .textDescription {
    width: 100%;
    margin-bottom: 50px;
    text-align: left !important;
  }
}

  // Todas as mídias da ocorrência
  .mediasContent {
    margin-top: 10px;

      // Estilo do grid de mídias
      .cardGridStyle {
        text-align: center;
        padding: 5px;
        max-width: 25%;
        min-height: 120px;
      }

      .cardImage {
        max-width: 100%;
        max-height: 100px;
      }

      .drawerImage {
        min-height: 400px;
        max-width: 500px;
      }
  }